{% extends "siteda.html" %}
{% block body %}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2> {{page}} </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href=" {{url_for('plate.index')}} ">Accueil</a></li>
                    <li class="breadcrumb-item active">{{page}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2>CONTACTEZ - NOUS </h2>
                    <br><br>
                    <form id="contactForm" novalidate="true">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom" required="" data-error="Please enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Votre e-mail" id="email" class="form-control" name="name" required="" data-error="Please enter your email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" name="name" placeholder="Subjet du message" required="" data-error="Please enter your Subject">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Votre message" rows="4" data-error="Write your message" required=""></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="submit-button text-center">
                                    <button class="btn hvr-hover disabled" id="submit" type="submit" style="pointer-events: all; cursor: pointer;">Envoyer message</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="contact-info-left">
                    
                    <br><br><br>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>Ville de Goma, Quartier le volcan<br>En face d'ASTRAMES.<br></p>
                        </li>
                        <li> 
                            <p><i class="fas fa-phone-square"></i>Téléphone: <a href="tel:+243991136647">+243 991 136 647</a></p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i>Email: <a href="mailto:info@kivu.exchange">info@kivu.exchange</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}