{% extends "base.html" %}

{% block body %}
<div class="col-lg-12 col-md-12">
    <div class="card box-shadow--4dp" style="margin-top: 100px; margin-bottom: 150px; ">
        <div class="header">
            <h4 class="title">Ajouter un colis</h4>
        </div>
        <div class="content">
                {% with messages= get_flashed_messages(with_categories=true) %}
                {% if messages  %}
                    {% for category, message in messages %}
                        <div class="alert text-center alert-{{ category }}">
                            <b>{{ message }}</b>
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

            <form method="POST" enctype="multipart/form-data" >
                {{ form.csrf_token }}

                <div class="row">
                        <div class="col-md-4">
                                <div class="form-group">
                                        <label>Pays de transit</label>
                                        {% if form.en_transit.errors %}
                                        {{ form.en_transit(class="form-control border-input is-invalid")}}
                                        <i class="form-group__bar"></i>
                                        <div class="invalid-feedback">
                                            {% for error in form.en_transit.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.en_transit(class="form-control border-input")}}
                                        <i class="form-group__bar"></i>
                                        {% endif %}
                                </div>
            
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                    <label>Ville  de transit</label>
                                    {% if form.ville.errors %}
                                    {{ form.ville(class="form-control border-input is-invalid")}}
                                    <i class="form-group__bar"></i>
                                    <div class="invalid-feedback">
                                        {% for error in form.ville.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.ville(class="form-control border-input")}}
                                    <i class="form-group__bar"></i>
                                    {% endif %}
                            </div>
        
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                    <label>Date de transit</label>
                                    {% if form.date_envoi.errors %}
                                    {{ form.date_envoi(class="form-control border-input is-invalid")}}
                                    <i class="form-group__bar"></i>
                                    <div class="invalid-feedback">
                                        {% for error in form.date_envoi.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.date_envoi(class="form-control border-input")}}
                                    <i class="form-group__bar"></i>
                                    {% endif %}
                            </div>
        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                            <div class="form-group">
                                    <label>Commentaire</label>
                                    {% if form.resume.errors %}
                                    {{ form.resume(rows="20", class="form-control border-input is-invalid")}}
                                    <i class="form-group__bar"></i>
                                    <div class="invalid-feedback">
                                        {% for error in form.resume.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.resume(rows="20", class="form-control border-input")}}
                                    <i class="form-group__bar"></i>
                                    {% endif %}
                            </div>
        
                    </div>
            </div>

                
                <div class="text-center">
                        <button class="btn btn-outline-info btn-md" id="submit" name="submit" type="submit">
                                <i class="ti-truck"></i> Transit
                        </button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}