
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="custom-select-box">
                    <li class="ct-language">Langue <i class="fa fa-arrow-down"></i>
                        <ul class="list-unstyled ct-language__dropdown">
                          <li><a href="#googtrans(fr|fr)" class="lang-es lang-select" data-lang="fr"><span class="flag-icon flag-icon-fr"></span> Français</a></li>
                          <li><a href="#googtrans(fr|en)" class="lang-en lang-select" data-lang="en"><span class="flag-icon flag-icon-us"></span> Anglais</a></li>
                          <li><a href="#googtrans(fr|zh-CN)" class="lang-es lang-select" data-lang="zh-CN"><span class="flag-icon flag-icon-cn"></span>Chinois</a></li>
                          <li><a href="#googtrans(fr|sw)" class="lang-es lang-select" data-lang="sw"><span class="flag-icon flag-icon-cd"></span>Swahili</a></li>
                        </ul>
                      </li>
                </div>
                <div class="right-phone-box">
                    <p>Téléphone :- <a href="#"> +243 991 136 647</a></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            </div>
        </div>
    </div>
</div>